<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="icon" href="..\static\icon.ico">       
    <title>Digital Watermarking</title> 
</head>

<body>
    <br>
    <div class="header">
    <h1 class='heading'>Digital Watermarking</h1>
    <br>
    </div>
    
    <hr class='divider'>
    <br>
    <div class="desc">
        <p>
            Image Embedded Successfully
        </p>
    </div>

     <form action="" method="post" enctype="multipart/form-data">
        <div class='main'>
            <div class="inputs">
                    <div class="number">
                    </div>
                    <select name="attack" id="attack" method="post"  action="/attack" required>
                        <option value="" disabled selected hidden>Choose Target Attack</option>
                        
                        <option value="blur">blur</option>
                        <option value="rotate180">rotate180</option>
                        <option value="rotate90">rotate90</option>
                        <option value="chop5">chop5</option>
                        <option value="chop10">chop10</option>
                        <option value="chop30">chop30</option>
                        <option value="saltnoise">saltnoise</option>
                        <option value="randline">randline</option>
                        <option value="cover">cover</option>
                        <option value="brighter10">brighter10</option>
                        <option value="darker10">darker10</option>
                        <option value="largersize">largersize</option>
                        <option value="smallersize">smallersize</option>

                    </select>
            </div>
            <div class="inputs">
                <input type="submit" value="Submit" class="submit">
            </div>
        </div>
     </form> 
     <h2>Uploaded Embedded Image</h2>
     <img class = "img" src="{{url_for('static', filename='assets/embedded.jpg')}}" style="
     width: 500px;"  align='middle'/>
     
     <!--Make a try now button which loads a csv-->
     <div class="container">
       
    </div>
    
    <footer class="footer" id="index_footer">

    </footer>

    
    
</body>
</html>